<ion-view title="Tips" style="background-color: #F8F8F8 !important;">
  <ion-nav-buttons side="left">
    <button class="button button-icon" ng-click="$ionicGoBack()">
      <i style="color: white;" class="ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content has-footer="true" has-header="true" style="background-color: #F8F8F8;bottom: 151px;top: 44px;" class="tip">
    <div class="col bet-with-bg">
      <a class="bet-with">BET WITH</a>
      <img class="bookmaker-image" src="img/tips/william_hill.png" align="left">
    </div>
    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">
        <div class="firstline">
          <h5 class="name">{{post.post.title}}</h5>
          <img src="img/tips/clock.svg" class="time-icon">
          <span class="hours">{{post.post.date | myDate}}</span>
        </div>
        <div class="content-container" ng-click="onBtnArrow(post)">
          <img style="max-height: 100%; max-width: 100%;" ng-src="{{post.post.moreinfo_image}}" ng-show="showImg" onerror="test()"
            onError="angular.element(this).scope().showImg = false">
          <span class="text-title">{{post.tipster.name}}</span>
        </div>
        <div class="content">
          <p>{{post.post.moreinfo_text}}</p>
        </div>
      </div>
      <div class="col col-5"></div>
    </div>
  </ion-content>

  <ion-footer-bar class="footer">
    <button class="btn" ng-click="onBtnPlaceBet()">Place Bet</button>
  </ion-footer-bar>

</ion-view>