<ion-view title="Bookie Bonuses">
  <ion-content has-header="true">
    <!-- <div class="row freebet" ng-repeat="freebet in freebets.arr">
      <div class="col col-5"></div>
      <div class="col col-90">
        <div class="container">
          <div class="align">
            <img ng-src="{{freebet.image}}">
            <div class="text">
              <span class="company">{{freebet.bookmaker}}</span>
              <br>
              <span class="offer">{{freebet.title}}</span>
            </div>
          </div>
          <div class="btn-container">
            <a class="left-line" ng-click="goToPage(freebet.buttonLink)">CLAIM<br>NOW</a>
          </div>
        </div>
      </div>
      <div class="col col-5"></div>
    </div> -->
    <div class="freebet" ng-repeat="freebet in freebets.arr">
      <div class="row container">
        <img class="col col-20" ng-src="{{freebet.image}}">
        <div class="col col-60 wrapper">
          <span class="text">{{freebet.bookmaker}}</span>
          <br>
          <span style="opacity: 0.70;">{{freebet.title}}</span>
        </div>
        <div class="col col-20 a-cont">
          <a ng-href="{{freebet.buttonLink}}">CLAIM
            <br>NOW</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>