<ion-view hide-nav-bar="true" show-tabs="true">
  <ion-content has-header="true" padding="2" class="landing">
    <div class="row img-container">
      <div class="col col-60 tips">
        <!-- <img src="./img/landing/tips.svg" /> -->
      </div>
      <div class="col col-40 never">
        <!-- <img src="./img/landing/never.svg" /> -->
      </div>
    </div>
    <div class="row second-box" ng-click="go('tabs.tips')">
      <!-- <img src="./img/tips.svg" alt="" /> -->
    </div>
    <div class="row img-container">
      <div class="col col-45 bookie" ng-click="go('tabs.bookieBonuses')">
        <!-- <img src="./img/landing/tips.svg" /> -->
      </div>
      <div class="col col-45 score" ng-click="go('tabs.liveScores')">
        <!-- <img src="./img/landing/never.svg" /> -->
      </div>
    </div>
    <div class="row link" ng-click="goToPage('http://www.mrfixitstips.co.uk/')">
      
    </div>
  </ion-content>
</ion-view>