<ion-view title="Live Scores">
  <div class="fixed-liveScore">
    <div ion-fixed class="row calendar">
      <div class="col">
        <div>
          <ul class="weekdays">
            <li ng-repeat="NameOfDay in calendar.nameOfDays track by $index">{{NameOfDay}}</li>
          </ul>
          <ul class="days">
            <li ng-repeat="day in calendar.days " ng-click="calendar.toggle='4'; onClickedDay(day);">
              <span ng-class="{'dayActive': isSelected(day) }">{{day}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="livescore-button-container">
      <button class="button-live button-non-actived" ng-click="onBtnLive()" ng-class="{'buttonActive': toggle=='live'}" type="button">LIVE</button>
      <button class="button-non-actived" ng-click="onBtnAll()" ng-class="{'buttonActive': toggle=='all'}" type="button">ALL</button>
      <button class="button-all button-non-actived" ng-click="onBtnFiltred()" ng-class="{'buttonActive': toggle=='filtred'}" type="button">FILTERED</button>
    </div>
  </div>
  <ion-content has-header="true" class="liveScore" scroll="true" delegate-handle="scoreScroll" style="top: 161px;">
    <div class="ls">
      <div ng-show="toggle == 'filtred'">
        <label class="item item-input item-select label-select">
          <div class="input-label">
            <button class="filter-button" type="submit" ng-click="onBtnFilter()">FILTER</button>
          </div>
          <select ng-model="params.pickedLeague" class="" ng-change="onBtnFilter()">
            <option ng-selected="{{league.name == params.pickedLeague}}" ng-repeat="league in params.leagues" value="{{league.name}}">{{league.name}}</option>
          </select>
        </label>
      </div>
      <div class="container" ng-repeat="score in params.scores track by $index">
        <div class="row">
          <img class="col col-10 logo" ng-src="{{score.event.league_icon}}">
          <span class="col  col-80 league">{{score.event.league}}</span>
        </div>
        <div class="row">
          <div style="margin: auto" class="col col-20">
            <span class="time">{{score.event.date| matchTime}}</span>
          </div>
          <div class="col col-60">
            <div class="row">
              <span class="col col-10 score">{{score.homeTeam.score}}</span>
              <span class="col col-90 team">{{score.homeTeam.name}}</span>
            </div>
            <div class="row">
              <span class="col col-10 score">{{score.awayTeam.score}}</span>
              <span class="col col-90 team">{{score.awayTeam.name}}</span>
            </div>
          </div>
          <div class="col col-20 img-container">
            <img ng-hide="score.event.follow != -1" ng-click="onImgStar(score.event.id, score.event.follow)" class="star" src="img/liveScore/star.svg">
            <img ng-show="score.event.follow != -1" ng-click="onImgStar(score.event.id, score.event.follow)" class="star" src="img/liveScore/yellow-star.svg">
            <img ng-hide="score.event.notification != -1" ng-click="onImgBell(score.event.id, score.event.notification, $index)" class="bell"
              src="img/liveScore/bell.svg">
            <img ng-show="score.event.notification != -1" ng-click="onImgBell(score.event.id, score.event.notification, $index)" class="bell-rot bell"
              src="img/liveScore/bell-blue.svg">
          </div>
        </div>
        <hr>
      </div>
      <div class="no-match-message" ng-show="!params.scores.length">No soccer matches found</div>
    </div>

  </ion-content>
</ion-view>