<ion-view title="Settings">
  <ion-content has-header="true">
      <div class="row settings">
          <div class="col col-80 notification">Push notifications</div>
          <div class="col col-20 container">
              <label class="toggle">
                  <input ng-model="models.notification" ng-change="onPushSwitch()" type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </div>
        </div>
        <hr class="sett-hr">
  </ion-content>    
</ion-view>