<ion-tabs class="tabs-icon-top tabs-custom">

  <!-- Latest Tips Tab -->
  <ion-tab title="LATEST TIPS" icon-off="custom-tab-latest-off" icon-on="custom-tab-latest-on" ui-sref="tabs.tips">
    <ion-nav-view name="tabs-tips"></ion-nav-view>
  </ion-tab>

  <!-- Live Score Tab -->
  <ion-tab title="LIVE SCORES" icon-off="custom-tab-score-off" icon-on="custom-tab-score-on" ui-sref="tabs.liveScores">
    <ion-nav-view name="tabs-liveScores"></ion-nav-view>
  </ion-tab>

  <!-- Bookie Bonuses Tab -->
  <ion-tab title="BOOKIE BONUSES" icon-off="custom-tab-bookie-off" icon-on="custom-tab-bookie-on" ui-sref="tabs.bookieBonuses">
    <ion-nav-view name="tabs-bookieBonuses"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="SETTINGS" icon-off="custom-tab-setting-off" icon-on="custom-tab-setting-on" ui-sref="tabs.settings">
    <ion-nav-view name="tabs-settings"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="landingPage" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tabs.landingPage" hidden="true">
    <ion-nav-view name="tabs-landingPage"></ion-nav-view>
  </ion-tab>

</ion-tabs>
