<ion-view title="Tips">
  <ion-content has-header="true" padding="50">
    <div ng-repeat="post in tips.arr track by $index" class="tips">
      <div class="row" style="padding-bottom: 0;">
        <div class="col col-60" ng-click="onBtnArrow(post)">
          <div ng-click="onBtnArrow(post)">
            <span class="title">{{post.post.title}}</span>
          </div>
          <div ng-click="onBtnArrow(post)">
            <span class="by">{{post.post.text_second}}</span>
          </div>
        </div>
        <div class="col col-30" style="text-align: right;vertical-align: middle;" ng-click="onBtnArrow(post)">
          <span>
            <img src="img/tips/clock.svg" class="time-icon" />
            <span class="date">{{post.post.date | myDate}}</span>
          </span>
        </div>
        <div class="col col-10">
          <a ng-click="onBtnArrow(post)" class="ion-ios-arrow-forward"></a>
        </div>
      </div>
      <div class="row">
        <div class="col col-25 text-center">
          <img ng-click="onLikes(post.post.id, $index)" class="like-img" ng-src="{{post.post.activeLike == 1 ? 'img/tips/like-blue.svg' : 'img/tips/like.svg'}}"
          />
          <span ng-click="onLikes(post.post.id, $index)" class="like">{{post.post.likes}} Likes</span>
        </div>
        <div class="col col-35" style="padding-right: 0;">
          <!-- <img ng-click="onComments(post.post.id, $index)" class="tips-comment-img" src="img/comment.svg" />
          <span ng-click="onComments(post.post.id, $index)" class="tips-comment">{{post.post.comments}} Comments</span> -->
        </div>
        <div class="col col-offset-35 col-20" style="align-self: start; padding-right: 10px; padding-left: 0">
          <button class="share" ng-click="onBtnShare();">SHARE</button>
        </div>
      </div>
      <hr class="hr">
    </div>
  </ion-content>
</ion-view>