body {
  font-family: 'RobotoMedium' !important;
}

* {
  font-family: "RobotoMedium" !important;
}

$myRed: #A51818;
$myPink:  #EC7171;

/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header {
  height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important;
}

.my-bar {
  border-color: $myRed;
  background-color: $myRed;
  color: #fff;
}

.platform-ios {
  .tabs {
    height: 48px !important;
  }
}

// .tabs{
//   background-image: url('../img/menu/bg.svg') !important;
// }

.tabs-custom > .tabs,
.tabs.tabs-custom {
  width: 100%;
  max-width: none;
  border: none !important;
  color: white;
  padding: 0 !important;
  background-image: url("../img/menu/bg.svg") !important;
  background-size: 110%;
}

.tab-item-active {
  border: none !important;
  margin: 0;
  color: $myRed !important;
}

.tab-item {
  margin: 0;
  width: 100%;
  max-width: none;
  font-weight: 900 !important;
  border: none;
  color: white;

  // //background-image: url('../img/menu/bg.svg');
  // background-repeat: no-repeat;
  // background-size: cover;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  margin: 0 !important;
}

.tab-item.activated {
  border: none !important;
  color: $myRed !important;
}

.custom-tab-score-off {
  content: url("../img/menu/livescore-off.svg") !important;
  transform: scale(0.8);
}

.custom-tab-score-on {
  content: url("../img/menu/livescore-on.svg") !important;
  transform: scale(0.8);
}

.custom-tab-latest-off {
  content: url("../img/menu/latest-off.svg") !important;
  transform: scale(0.8);
}

.custom-tab-latest-on {
  content: url("../img/menu/latest-on.svg") !important;
  transform: scale(0.8);
}

.custom-tab-bookie-off {
  content: url("../img/menu/bookie-off.svg") !important;
  transform: scale(0.8);
}

.custom-tab-bookie-on {
  content: url("../img/menu/bookie-on.svg") !important;
  transform: scale(0.8);
}

.custom-tab-setting-off {
  content: url("../img/menu/settings-off.svg") !important;
  transform: scale(0.8);
}

.custom-tab-setting-on {
  content: url("../img/menu/settings-on.svg") !important;
  transform: scale(0.8);
}

/* flex tips - nove  */
.tips {
  height: auto;

  .title {
    word-wrap: break-word;
    font-size: 3vmax;
  }

  .by {
    font-size: 2.2vmax;
    word-wrap: break-word;
    color: $myRed;
    font-weight: bold;
  }

  .logo {
    width: 9.5vmax;
    border-radius: 10vmax;
    align-self: flex-start;
  }

  .date {
    color: #262628;
    font-size: 1.8vmax;
    opacity: 0.40;
  }

  .hr {
    width: 95%;
    height: 2px;
    background: $myRed;
    border: 0;
    margin: 4% 0;
  }

  .share {
    text-decoration: none;
    color: #95989A;
    font-size: 1.4vmax;
    padding: 0.3vmax 1.6vmax;
    border-radius: 0.5em;
    background-color: white;
    border: 1px solid #C1C4C6;
  }

  .like {
    color: #95989A;
    font-size: 1.8vmax;
    float: left;
    margin-top: 0.5vmax;
    margin-right: 0.5vmax;
  }

  .like-img {
    padding-right: 2%;
    float: left;
    clear: both;
    width: 3.8vmax;
  }

  .time-icon {
    color: #262628;
    width: 2.5vmax;
  }

  .ion-ios-arrow-forward {
    padding-left: 7%;
    font-size: 2em;
    color: black;
  }
}

.tip {
  .bet-with-bg {
    background-color: #01133B;
    padding: 2% 0;
    display: flex;
    align-items: center;
  }

  .bookmaker-image {
    width: 8em;
    height: 2em;
    float: left;
  }

  .bet-with {
    margin-left: 5vmax;
    margin-right: 1.5vmax;
    color: white;
    float: left;
    font-size: 2vmax;
  }

  .time-icon {
    padding-right: 1%;
    margin-right: 0.2vmax;
    margin-left: 1vmax;
    float: right;
    color: #262628;
    width: 3vmax;
  }

  .firstline {
    margin: 5% 0% 0% 0%;
    display: flex;
    align-items: center;
  }

  .name {
    color: $myRed;
    margin-right: 1vmax;
    display: block;
    word-wrap: break-word;
    width: 80%;
    white-space: normal;
    float: left;
    font-size: 3.2vmax;
  }

  .hours {
    float: right;
    color: #262628;
    font-size: 2.5vmax;
    opacity: 0.40;
  }

  .content-container {
    color: #262628;
    white-space: normal;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .text-title {
      font-size: 2.5vmax;
      line-height: 1;
      word-wrap: break-word;
      width: 100%;
      white-space: normal;
      color: #383838;
    }
  }

  .content {
    clear: both;

    .p {
      color: #262628;
      white-space: normal;
    }
  }
}

.footer {
  background-color: #F8F8F8;
  height: 100px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 0;

  .btn {
    width: 80%;
    height: 50%;
    padding: 1vmax 0 !important;
    font-size: 3.5vmax !important;
    font-weight: bold !important;
    color: white;
    background-color: $myRed;
    border: none;
    bottom: 44%;
    text-align: center;
  }
}

.landing {
  background-image: url("../img/landing/background.svg");

  .img-container {
    justify-content: space-between;
    padding: 0;
    padding-bottom: 2%;
    width: 100%;

    .tips {
      background-image: url("../img/landing/tips.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 16vmax;
    }

    .never {
      background-image: url("../img/landing/never.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 17vmax;
    }

    .bookie {
      background-image: url("../img/landing/bookie.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 18vmax;
    }

    .score {
      background-image: url("../img/landing/score.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 18vmax;
    }

    div {
      padding: 0;
    }
  }

  .second-box {
    background-image: url("../img/landing/daily.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 46vmax;
    padding-bottom: 0;
  }

  .link {
    margin-top: 5%;
    background-image: url("../img/landing/link.svg");
    background-size: contain;
    background-repeat: no-repeat;
    resize: both;
    width: 100%;
    height: 5vmax;
  }
}

// .platform-ios {
//   .freebet {
//     .left-line {
//       left: 81% !important;
//     }
//   }
// }

.freebet {
  // z-index: 9999;
  // -webkit-filter: blur(3px);
  // filter: blur(3px);
  // background-color: gray;

  // .align {
  //   margin: 3% 0;

  //   img {
  //     height: 4em;
  //     width: 4em;
  //     border-radius: 12px;
  //     float: left;
  //     position: absolute;
  //     top: 50%;
  //     left: 3%;
  //     transform: translateY(-50%);
  //     margin: 0 auto;
  //     border: 2px solid $myPink;
  //   }
  // }

  // .container {
  //   border-radius: 18px;
  //   height: auto; /*velost boxu
  //   overflow: hidden;
  //   position: relative;
  //   background-color: #FFFFFF;
  //   margin: 2% 0; /*odsadenie
  //   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  //   border: 2px solid $myPink;
  // }

  // .company {
  //   color: #262628;
  //   font-size: 1.1em;
  // }

  // .offer {
  //   color: #262628;
  //   font-size: 0.9em;
  //   opacity: 0.70;
  // }

  // .btn-container {
  //   margin-top: 7%;
  //   line-height: 110%;
  // }

  // .left-line { /*button claim now
  //   text-decoration: none;
  //   float: right;
  //   color: #3C3C3D;
  //   overflow: hidden;
  //   display: table-cell;
  //   vertical-align: middle;
  //   text-align: center;
  //   position: absolute;
  //   top: 50%;
  //   left: 82%;
  //   transform: translateY(-50%);
  //   margin: 0 auto;
  // }

  // .text {
  //   display: inline-block;
  //   vertical-align: middle;
  //   margin: 2% 5% 2% 26.5%;

  //   // float: left;
  //   width: 47%;
  //   padding-bottom: 3%;

  //   ::after {
  //     position: absolute;
  //     content: '';
  //     border-left: 1px solid $myPink;
  //     height: 80%;
  //     min-height: 3em;
  //     top: 50%;
  //     left: 67%;
  //     margin-left: 10%;
  //     transform: translateY(-50%);
  //   }
  // }

  padding: 5%;

  .container {
    padding: 3% 1% 3% 3%;
    border-radius: 18px;
    border: solid 1px $myPink;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(237, 120, 120, 0.2), 0 3px 10px 0 rgba(237, 120, 120, 0.19);

    img {
      padding: 0;
      height: 4.5em;
      border-radius: 18px;
      border: solid 1px $myPink;
    }

    .wrapper {
      padding-left: 4%;
      border-right: 1px solid $myPink;

      .text {
        font-family: 'RobotoRegular';
        color: #262628;
        font-size: 1.1em;
      }
    }

    .a-cont {
      margin: auto;
      text-align: center;

      a {
        text-decoration: none;
        color: #3C3C3D;
        font-family: 'Conv_segoeui';
      }
    }
  }
}

.fixed-liveScore {
  position: absolute;
  top: 43px;
  width: 100%;
  height: 68px;

  .calendar {
    background-color: $myPink;

    .weekdays {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;

      li {
        display: inline-block;
        text-align: center;
        width: 13.3%;
        color: white;
        font-size: 1.3em;
      }
    }

    .days {
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
        text-align: center;
        width: 13.3%;
        color: white;
        font-size: 1.3em;
      }
    }

    ul.days li.activeDay {
      background-color: $myRed !important;
    }

    .dayActive {
      padding: 0% 8% 2% 8%;
      text-align: center !important;
      border-radius: 50% !important;
      background-color: $myRed !important;
      box-shadow: none !important;
    }
  }

  .livescore-button-container {
    text-align: center;

    // margin: 5% auto;
    top: 93px;
    height: 50px;
    width: 100%;
    padding: 1% 5% 3% 5%;
  }
}

.liveScore {
  top: 161px;

  .label-select {
    border: none;
    border-bottom: 1px solid $myRed;
    padding: 0;
  }
}

/*Livescore zapas sekcia*/
.livescore-box {
  /*background-color: #FFFFFF;*/
  /*border-radius: 18px;*/
  overflow: hidden;
  position: relative;

  /*margin: 7% 0; odsadenie*/
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05);*/
  border: none;
  border-bottom: 1px solid $myRed; //#d9d9d9
}

.livescore-leaguelogo {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 5%;
  float: left;
}

.livescore-league-name {
  font-size: 1.2em;
  vertical-align: middle;
  display: table-cell; /*odseky zacinaju na tom istom mieste podsebou*/
  font-family: 'RobotoMedium';
}

.livescore-firstline {
  margin: 5% 2% 3% 5%;
}

.livescore-scoreinfo {
  margin: 5% 0 2% 5%;
  float: left;
  line-height: 60%;
  padding-left: 1%;
  position: fixed !important;
}

.livescore-match-time {
  font-family: 'RobotoMedium';
  float: left;
  font-size: 3.2vmax;
  color: $myRed;

  /*margin-top: 2vmax;*/

  /* KED NENI NAZOV LIGY treba odkomentovat */
}

.livescore-teams {
  font-family: 'RobotoRegular';
  color: #99999D;
  padding-left: 15%;
  overflow: hidden;
  display: block;
}

.livescore-score {
  position: fixed !important;
  font-family: 'Roboto Medium';
}

.livescore-current-score {
  float: left;
  margin-right: 2%;
  margin-bottom: 3%;
  margin-left: 27%;
  display: block;
  word-wrap: break-word;
  width: 9.9em;
  position: relative;
  clear: both; /*Potrebne pre android*/
}

// .bell {
//   position: relative;
//   float: right;
//   margin: 0% 3% 0 0;
//   width: 10%;
//   padding: 5px;
//   display: block;
// }

// .star {
//   float: right;

//   // margin: 0% 5% 0 2%;
//   width: 10%;
//   padding: 5px;
// }

// .bell-rotate {
//   -ms-transform: rotate(15deg); /* IE 9
//   -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera
//   transform: rotate(15deg);
// }

.no-match-message {
  margin: 50% auto;
  text-align: center;
}

.buttonActive {
  width: 31% !important;
  padding: 1% !important;
  border-radius: 8px;
  color: white !important;
  background-color: $myRed !important;
  border: 1px solid $myRed !important;
}

.button-live {
  float: left;
}

.button-non-actived {
  width: 31%;
  padding: 1%;
  border-radius: 8px;
  color: $myRed;
  background-color: white;
  border: 1px solid $myRed;
}

.button-all {
  float: right;
}

.filter-margins {
  margin: 10% 0% 15% 2%;
  color: #7E7E7F;
}

.filter-hr {
  margin-top: 15%;
  margin-bottom: -9%;
  margin-left: 3%;
  width: 55%;
  height: 1px;
  border: none;
  color: grey;
  background-color: #d6d6d6;
}

.filter-inputs-container {
  margin: 0% 5%;
}

.filter-input {
  margin-right: 3%;
}

.filter-button {
  width: 15vmax;
  background-color: $myRed;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  color: white;
  float: right;

  // margin-right: 3%;
  // margin-top: -14%;
}

.filter-label {
  margin-top: 15% !important;
  margin-left: -1.3%;
  float: left;
  border: none;
}

.filter-select {
  background: none;
  border: none;
  position: absolute;
  float: left;
  width: 48%;
  margin-top: -20%;
  margin-left: 2.5%;
  padding-right: 1%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.settings {
  .notification {
    font-family: 'Conv_Lato-Regular';
    font-size: 1.1em;
    margin-top: 4%;
    margin-left: 1%;
    color: #383838;
  }

  .container {
    margin-top: 2%;
    margin-left: 1%;
  }

  .toggle input:checked + .track {
    background-color: $myRed !important;
    border-color: $myRed !important;
  }
}

.sett-hr {
  width: 92%;
  border: none;
  border-top: 2px solid $myRed;
  opacity: 0.4;
}

.ls {
  .container {
    padding: 0% 5%;

    hr {
      border-top: 1px solid #ef473a;
    }

    .logo {
      margin-left: 5%;
      height: 2.5em;
      padding: 0;
    }

    .league {
      margin-left: 6%;
      color: #57575A;
      font-size: 2.5vmax;
    }

    .time {
      font-size: 3vmax;
      color: $myRed;
      text-align: center;
    }

    .score {
      padding: 0;
      color: #57575A;
      font-size: 2vmax;
    }

    .team {
      font-family: 'RobotoRegular';
      color: #99999D;
      font-size: 2vmax;
      padding: 0;
    }

    .img-container {
      padding: 0;
      margin: auto;

      .star {
        width: 40%;
        float: right;
      }

      .bell {
        width: 40%;
        float: left;
      }

      .bell-rot {
        -ms-transform: rotate(15deg); /* IE 9 */
        -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
        transform: rotate(15deg);
      }
    }
  }
}
