body {
  font-family: 'RobotoMedium' !important; }

* {
  font-family: "RobotoMedium" !important; }

/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header {
  height: 44px !important; }

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 44px !important; }

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
  margin-top: 0px !important; }

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 0px !important; }

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
  top: 44px !important; }

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important; }

.my-bar {
  border-color: #A51818;
  background-color: #A51818;
  color: #fff; }

.platform-ios .tabs {
  height: 48px !important; }

.tabs-custom > .tabs,
.tabs.tabs-custom {
  width: 100%;
  max-width: none;
  border: none !important;
  color: white;
  padding: 0 !important;
  background-image: url("../img/menu/bg.svg") !important;
  background-size: 110%; }

.tab-item-active {
  border: none !important;
  margin: 0;
  color: #A51818 !important; }

.tab-item {
  margin: 0;
  width: 100%;
  max-width: none;
  font-weight: 900 !important;
  border: none;
  color: white; }

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  margin: 0 !important; }

.tab-item.activated {
  border: none !important;
  color: #A51818 !important; }

.custom-tab-score-off {
  content: url("../img/menu/livescore-off.svg") !important;
  transform: scale(0.8); }

.custom-tab-score-on {
  content: url("../img/menu/livescore-on.svg") !important;
  transform: scale(0.8); }

.custom-tab-latest-off {
  content: url("../img/menu/latest-off.svg") !important;
  transform: scale(0.8); }

.custom-tab-latest-on {
  content: url("../img/menu/latest-on.svg") !important;
  transform: scale(0.8); }

.custom-tab-bookie-off {
  content: url("../img/menu/bookie-off.svg") !important;
  transform: scale(0.8); }

.custom-tab-bookie-on {
  content: url("../img/menu/bookie-on.svg") !important;
  transform: scale(0.8); }

.custom-tab-setting-off {
  content: url("../img/menu/settings-off.svg") !important;
  transform: scale(0.8); }

.custom-tab-setting-on {
  content: url("../img/menu/settings-on.svg") !important;
  transform: scale(0.8); }

/* flex tips - nove  */
.tips {
  height: auto; }
  .tips .title {
    word-wrap: break-word;
    font-size: 3vmax; }
  .tips .by {
    font-size: 2.2vmax;
    word-wrap: break-word;
    color: #A51818;
    font-weight: bold; }
  .tips .logo {
    width: 9.5vmax;
    border-radius: 10vmax;
    align-self: flex-start; }
  .tips .date {
    color: #262628;
    font-size: 1.8vmax;
    opacity: 0.40; }
  .tips .hr {
    width: 95%;
    height: 2px;
    background: #A51818;
    border: 0;
    margin: 4% 0; }
  .tips .share {
    text-decoration: none;
    color: #95989A;
    font-size: 1.4vmax;
    padding: 0.3vmax 1.6vmax;
    border-radius: 0.5em;
    background-color: white;
    border: 1px solid #C1C4C6; }
  .tips .like {
    color: #95989A;
    font-size: 1.8vmax;
    float: left;
    margin-top: 0.5vmax;
    margin-right: 0.5vmax; }
  .tips .like-img {
    padding-right: 2%;
    float: left;
    clear: both;
    width: 3.8vmax; }
  .tips .time-icon {
    color: #262628;
    width: 2.5vmax; }
  .tips .ion-ios-arrow-forward {
    padding-left: 7%;
    font-size: 2em;
    color: black; }

.tip .bet-with-bg {
  background-color: #01133B;
  padding: 2% 0;
  display: flex;
  align-items: center; }
.tip .bookmaker-image {
  width: 8em;
  height: 2em;
  float: left; }
.tip .bet-with {
  margin-left: 5vmax;
  margin-right: 1.5vmax;
  color: white;
  float: left;
  font-size: 2vmax; }
.tip .time-icon {
  padding-right: 1%;
  margin-right: 0.2vmax;
  margin-left: 1vmax;
  float: right;
  color: #262628;
  width: 3vmax; }
.tip .firstline {
  margin: 5% 0% 0% 0%;
  display: flex;
  align-items: center; }
.tip .name {
  color: #A51818;
  margin-right: 1vmax;
  display: block;
  word-wrap: break-word;
  width: 80%;
  white-space: normal;
  float: left;
  font-size: 3.2vmax; }
.tip .hours {
  float: right;
  color: #262628;
  font-size: 2.5vmax;
  opacity: 0.40; }
.tip .content-container {
  color: #262628;
  white-space: normal; }
  .tip .content-container img {
    max-width: 100%;
    max-height: 100%; }
  .tip .content-container .text-title {
    font-size: 2.5vmax;
    line-height: 1;
    word-wrap: break-word;
    width: 100%;
    white-space: normal;
    color: #383838; }
.tip .content {
  clear: both; }
  .tip .content .p {
    color: #262628;
    white-space: normal; }

.footer {
  background-color: #F8F8F8;
  height: 100px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 0; }
  .footer .btn {
    width: 80%;
    height: 50%;
    padding: 1vmax 0 !important;
    font-size: 3.5vmax !important;
    font-weight: bold !important;
    color: white;
    background-color: #A51818;
    border: none;
    bottom: 44%;
    text-align: center; }

.landing {
  background-image: url("../img/landing/background.svg"); }
  .landing .img-container {
    justify-content: space-between;
    padding: 0;
    padding-bottom: 2%;
    width: 100%; }
    .landing .img-container .tips {
      background-image: url("../img/landing/tips.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 16vmax; }
    .landing .img-container .never {
      background-image: url("../img/landing/never.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 17vmax; }
    .landing .img-container .bookie {
      background-image: url("../img/landing/bookie.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 18vmax; }
    .landing .img-container .score {
      background-image: url("../img/landing/score.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 18vmax; }
    .landing .img-container div {
      padding: 0; }
  .landing .second-box {
    background-image: url("../img/landing/daily.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 46vmax;
    padding-bottom: 0; }
  .landing .link {
    margin-top: 5%;
    background-image: url("../img/landing/link.svg");
    background-size: contain;
    background-repeat: no-repeat;
    resize: both;
    width: 100%;
    height: 5vmax; }

.freebet {
  padding: 5%; }
  .freebet .container {
    padding: 3% 1% 3% 3%;
    border-radius: 18px;
    border: solid 1px #EC7171;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(237, 120, 120, 0.2), 0 3px 10px 0 rgba(237, 120, 120, 0.19); }
    .freebet .container img {
      padding: 0;
      height: 4.5em;
      border-radius: 18px;
      border: solid 1px #EC7171; }
    .freebet .container .wrapper {
      padding-left: 4%;
      border-right: 1px solid #EC7171; }
      .freebet .container .wrapper .text {
        font-family: 'RobotoRegular';
        color: #262628;
        font-size: 1.1em; }
    .freebet .container .a-cont {
      margin: auto;
      text-align: center; }
      .freebet .container .a-cont a {
        text-decoration: none;
        color: #3C3C3D;
        font-family: 'Conv_segoeui'; }

.fixed-liveScore {
  position: absolute;
  top: 43px;
  width: 100%;
  height: 68px; }
  .fixed-liveScore .calendar {
    background-color: #EC7171; }
    .fixed-liveScore .calendar .weekdays {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%; }
      .fixed-liveScore .calendar .weekdays li {
        display: inline-block;
        text-align: center;
        width: 13.3%;
        color: white;
        font-size: 1.3em; }
    .fixed-liveScore .calendar .days {
      display: flex;
      justify-content: space-between; }
      .fixed-liveScore .calendar .days li {
        display: inline-block;
        text-align: center;
        width: 13.3%;
        color: white;
        font-size: 1.3em; }
    .fixed-liveScore .calendar ul.days li.activeDay {
      background-color: #A51818 !important; }
    .fixed-liveScore .calendar .dayActive {
      padding: 0% 8% 2% 8%;
      text-align: center !important;
      border-radius: 50% !important;
      background-color: #A51818 !important;
      box-shadow: none !important; }
  .fixed-liveScore .livescore-button-container {
    text-align: center;
    top: 93px;
    height: 50px;
    width: 100%;
    padding: 1% 5% 3% 5%; }

.liveScore {
  top: 161px; }
  .liveScore .label-select {
    border: none;
    border-bottom: 1px solid #A51818;
    padding: 0; }

/*Livescore zapas sekcia*/
.livescore-box {
  /*background-color: #FFFFFF;*/
  /*border-radius: 18px;*/
  overflow: hidden;
  position: relative;
  /*margin: 7% 0; odsadenie*/
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05);*/
  border: none;
  border-bottom: 1px solid #A51818; }

.livescore-leaguelogo {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 5%;
  float: left; }

.livescore-league-name {
  font-size: 1.2em;
  vertical-align: middle;
  display: table-cell;
  /*odseky zacinaju na tom istom mieste podsebou*/
  font-family: 'RobotoMedium'; }

.livescore-firstline {
  margin: 5% 2% 3% 5%; }

.livescore-scoreinfo {
  margin: 5% 0 2% 5%;
  float: left;
  line-height: 60%;
  padding-left: 1%;
  position: fixed !important; }

.livescore-match-time {
  font-family: 'RobotoMedium';
  float: left;
  font-size: 3.2vmax;
  color: #A51818;
  /*margin-top: 2vmax;*/
  /* KED NENI NAZOV LIGY treba odkomentovat */ }

.livescore-teams {
  font-family: 'RobotoRegular';
  color: #99999D;
  padding-left: 15%;
  overflow: hidden;
  display: block; }

.livescore-score {
  position: fixed !important;
  font-family: 'Roboto Medium'; }

.livescore-current-score {
  float: left;
  margin-right: 2%;
  margin-bottom: 3%;
  margin-left: 27%;
  display: block;
  word-wrap: break-word;
  width: 9.9em;
  position: relative;
  clear: both;
  /*Potrebne pre android*/ }

.no-match-message {
  margin: 50% auto;
  text-align: center; }

.buttonActive {
  width: 31% !important;
  padding: 1% !important;
  border-radius: 8px;
  color: white !important;
  background-color: #A51818 !important;
  border: 1px solid #A51818 !important; }

.button-live {
  float: left; }

.button-non-actived {
  width: 31%;
  padding: 1%;
  border-radius: 8px;
  color: #A51818;
  background-color: white;
  border: 1px solid #A51818; }

.button-all {
  float: right; }

.filter-margins {
  margin: 10% 0% 15% 2%;
  color: #7E7E7F; }

.filter-hr {
  margin-top: 15%;
  margin-bottom: -9%;
  margin-left: 3%;
  width: 55%;
  height: 1px;
  border: none;
  color: grey;
  background-color: #d6d6d6; }

.filter-inputs-container {
  margin: 0% 5%; }

.filter-input {
  margin-right: 3%; }

.filter-button {
  width: 15vmax;
  background-color: #A51818;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  color: white;
  float: right; }

.filter-label {
  margin-top: 15% !important;
  margin-left: -1.3%;
  float: left;
  border: none; }

.filter-select {
  background: none;
  border: none;
  position: absolute;
  float: left;
  width: 48%;
  margin-top: -20%;
  margin-left: 2.5%;
  padding-right: 1%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.settings .notification {
  font-family: 'Conv_Lato-Regular';
  font-size: 1.1em;
  margin-top: 4%;
  margin-left: 1%;
  color: #383838; }
.settings .container {
  margin-top: 2%;
  margin-left: 1%; }
.settings .toggle input:checked + .track {
  background-color: #A51818 !important;
  border-color: #A51818 !important; }

.sett-hr {
  width: 92%;
  border: none;
  border-top: 2px solid #A51818;
  opacity: 0.4; }

.ls .container {
  padding: 0% 5%; }
  .ls .container hr {
    border-top: 1px solid #ef473a; }
  .ls .container .logo {
    margin-left: 5%;
    height: 2.5em;
    padding: 0; }
  .ls .container .league {
    margin-left: 6%;
    color: #57575A;
    font-size: 2.5vmax; }
  .ls .container .time {
    font-size: 3vmax;
    color: #A51818;
    text-align: center; }
  .ls .container .score {
    padding: 0;
    color: #57575A;
    font-size: 2vmax; }
  .ls .container .team {
    font-family: 'RobotoRegular';
    color: #99999D;
    font-size: 2vmax;
    padding: 0; }
  .ls .container .img-container {
    padding: 0;
    margin: auto; }
    .ls .container .img-container .star {
      width: 40%;
      float: right; }
    .ls .container .img-container .bell {
      width: 40%;
      float: left; }
    .ls .container .img-container .bell-rot {
      -ms-transform: rotate(15deg);
      /* IE 9 */
      -webkit-transform: rotate(15deg);
      /* Chrome, Safari, Opera */
      transform: rotate(15deg); }

/*# sourceMappingURL=style.css.map */
